.explore {
  background: $gris-light;
  @include center;
  padding: 30px;
  &__titre {
    @include padding-titre;
  }
}

.fonctionnement {
  @include padding-bloc;
  background-color: white;
  &__titre {
    @include padding-titre;
  }
  &__flexbox {
    @include flexbox;
  }
}

.fonctionnement-etiquette1 {
  @include fonctionnement-etiquette($color: $gris-dark, $percent: 3%);
  &-contenu {
    position: relative;
  }
  &__number {
    @include fonctionnement-etiquette__number--violet;
  }
  &__icon {
    @include fonctionnement-etiquette__icon;
  }
  &__text {
    @include fonctionnement-etiquette__text;
  }
}

.fonctionnement-etiquette2 {
  @include fonctionnement-etiquette($color: $gris-dark, $percent: 5%);
  &-contenu {
    position: relative;
  }
  &__number {
    @include fonctionnement-etiquette__number--violet;
  }
  &__icon {
    @include fonctionnement-etiquette__icon;
  }
  &__text {
    @include fonctionnement-etiquette__text;
  }
}

.fonctionnement-etiquette3 {
  @include fonctionnement-etiquette($color: $primary-color, $percent: 35%);
  &-contenu {
    position: relative;
  }

  &__number {
    @include fonctionnement-etiquette__number--violet;
  }
  &__icon {
    @include fonctionnement-etiquette__icon($color: $primary-color);
  }
  &__text {
    @include fonctionnement-etiquette__text;
  }
}

.restaurant {
  @include padding-bloc;
  background: $gris-light;
  &__titre {
    @include padding-titre;
  }
  &__lien {
    @include lien--sans-decoration;
  }
  &__etiquette {
    @include restaurant-etiquette;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
  }
  &__image--position1 {
    object-position: 0 -50px;
  }
  &__image--position2 {
    object-position: 0 -200px;
  }
  &__image--position3 {
    object-position: 0 -70px;
  }
  &__image--position4 {
    object-position: 0 -80px;
  }
  &__nouveau {
    position: absolute;
    right: 15px;
    top: 15px;
    color: darken($tertiary-color, 35%);
    font-weight: 600;
    background-color: $tertiary-color;
    padding: 6px;
  }
  &__text {
    padding: 10px 15px;
    line-height: 25px;
  }
  &__coeur {
    position: absolute;
    right: 25px;
    bottom: 30px;
    font-size: 25px;
  }
  &__flexbox {
    @include flexbox;
  }
}

.main {
  background-color: $gris-light;
  &__image {
    display: block;
    width: 100%;
    margin: auto;
    height: 250px;
    max-width: 500px;
  }
}

.menu {
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: $gris-light;
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
  @include padding-bloc;
  &__coeur {
    position: absolute;
    left: 400px;
    top: 50px;
    font-size: 25px;
  }
  &__etiquette {
    @include menu-etiquette;
  }
  &__prix {
    position: absolute;
    right: 15px;
    top: 45px;
    font-weight: bold;
  }
  &__text {
    width: 80%;
    height: 30px;
    overflow: hidden;
  }
  &-flexbox{
       @include flexbox;
  }
}

.titre__underline {
  background-color: $tertiary-color;
  height: 4px;
  width: 40px;
  margin: 3px 0 10px;
}

.entrees,
.plats,
.desserts {
  margin-top: 30px;
}
