.footer__background--black {
  background-color: lighten(black, 15);
  width: 100%;
  @media screen and (min-width: 992px) {
    text-align: center;
    margin: auto;
  }
}

.footer {
  text-align: left;
  padding: 20px;
  color: white;
  background-color: lighten(black, 15);
  @media screen and (max-width: 992px) {
    width: 100%;
    max-width: 450px;
    margin: auto;
  }
  @media screen and (min-width: 992px) {
    display: inline-block;
  }

  &__titre {
    margin-bottom: 10px;
  }
  &__list {
    list-style-type: none;
    line-height: 25px;
    font-weight: 400;
    &__couverts {
      width: 25px;
      padding-right: 15px;
    }
    &__mains {
      font-size: 12px;
      width: 25px;
      padding-right: 15px;
    }
    &__lien {
      text-decoration: none;
      color: white;
    }
  }
}
