.recherche {
  @include center;
  width: 100%;
  background: $gris;
}

input[type] {
  border: none;
  background: none;
  padding: 40px;
}

input[placeholder] {
  font-size: 20px;
  font-weight: bold;
}
