.recherche {
  text-align: center;
  width: 100%;
  background: rgb(201, 201, 201, 0.5);
}

input[type] {
  border: none;
  background: none;
  padding: 40px;
}

input[placeholder] {
  font-size: 20px;
  font-weight: bold;
}
