.btn {
  height: 50px;
  padding: 10px 20px;
  border: none;
  @include shadow;
  &--gradient {
      color: white;
@include gradient  }
  &--round{ border-radius: 25px; -webkit-border-radius: 25px; -moz-border-radius: 25px; -ms-border-radius: 25px; -o-border-radius: 25px; }
}
