.bouton-explorer {
  @include center;
  &__btn {
    @include btn;
    @include shadow;
    &--gradient {
      @include gradient;
    }
    &--round {
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    }
  }
}
