@mixin gradient {
  //chgt couleur secondaire à primaire graduel
  background-image: linear-gradient(to bottom right, $secondary-color, $primary-color);
  color: white;
}

@mixin gradient-coeur {
  //chgt couleur secondaire à primaire graduel de bas en haut
  background-image: linear-gradient(to top, $secondary-color, $primary-color);
}

@mixin shadow {
  //ombre pour différentes étiquettes
  box-shadow: 0px 1px 5px grey;
}

@mixin btn {
  //hauteur et style standard pour bouton
  height: 45px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

@mixin center {
  // pour centrer éléments
  text-align: center;
  padding: 20px 0;
}

@mixin padding-bloc {
  //padding standard des blocs
  padding: 40px 15px;
}

@mixin padding-titre {
  //padding standard des titres
  padding-bottom: 10px;
}

@mixin fonctionnement-etiquette($color: $gris-light, $percent: 95%) {
  //style  etiquette
  background: lighten($color, $percent);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  padding: 25px 25px;
  box-shadow: 2px 2px 8px $gris-dark;
  margin: 15px;
}

@mixin fonctionnement-etiquette__number--violet {
  //style  numéro à gauche
  display: inline-block;
  background: $primary-color;
  position: absolute;
  left: -35px;
  height: 25px;
  width: 25px;
  padding-top: 4px;
  color: white;
  font-weight: 400;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@mixin fonctionnement-etiquette__icon($color: grey) {
  //style  icône
  display: inline-block;
  position: absolute;
  left: 25px;
  color: $color;
  font-size: 22px;
}

@mixin fonctionnement-etiquette__text {
  //style  texte
  display: inline-block;
  padding-top: 4px;
  font-weight: 600;
  margin-left: 70px;
}

@mixin lien--sans-decoration {
  //style  des liens  retiré
  color: black;
  text-decoration: none;
}

@mixin restaurant-etiquette {
  //style  etiquette restaurant
  position: relative;
  background: white;
  max-width: 500px;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 2px 2px 8px $gris-dark;
  @media screen and (min-width: 992px) {
    width: 400px;
  }
}

@mixin menu-etiquette {
  //style  etiquettes des menus
  position: relative;
  background: white;
  max-width: 450px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 4px 8px 4px $gris-dark;
  padding: 15px 10px;
  line-height: 30px;
  cursor: pointer;

  @media screen and (min-width: 992px) {
    min-width: 300px;
  }
}

@mixin flexbox {
  //affichage en colonne du bloc pour petit écran et en ligne pour grand écran
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (min-width: 992px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

@keyframes largeur {
  //réduction largeur etiquette au survol
  from {
    width: 100%;
  }
  to {
    width: 70%;
  }
}

@keyframes largeur--retour {
  //augmentation largeur etiquette au retour, sans survol
  from {
    width: 70%;
  }
  to {
    width: 100%;
  }
}

@keyframes position-prix {
  //déplacement position prix au survol
  from {
    right: 5%;
  }
  to {
    right: 25%;
  }
}

@keyframes position-prix--retour {
  //retour position prix
  from {
    right: 25%;
  }
  to {
    right: 5%;
  }
}

@keyframes apparition {
  //apparition etiquette menu
  from {
    opacity: 0.1;
    transform: translateY(25px);
    -webkit-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -o-transform: translateY(25px);
  }
  to {
  }
}

@keyframes remplissage-coeur {
  //remplissage de coeur plein au survol
  from {
  }
  to {
    opacity: 1;
    background: -webkit-linear-gradient($primary-color, $secondary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
